a:link{
	color: lightgreen;
	text-decoration: none;
}

a:hover{
	color: green;
	text-decoration: none;
}

a:visited{
	color: lightgreen;
	text-decoration: none;
}

#Button {
    height:35px;
    width:110px;
    border-color:green;
    border-width:2px;
    border-style:solid;
    background:lightgray;
    border-radius:3px;
    text-align:center;
    margin:2px; 
    display:inline-block;
}

div {
	border:3px solid green;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}



h1 {
	text-align:center;
}

h3 {
	margin-left: 10px;
}

p {
	margin-left: 20px;
}

p:first-child{
	font-size:.75em;
	font-style:bold;
}

p:nth-child(3){
	font-style:italic;
}

