a{
	color: lightgreen;
	hover:green;
	text-decoration: none;
	
div {
	border:2px solid green;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px
}
h1 {
	text-align:center;
}
h3 {
	margin-left: 10px;
}
p {
	margin-left: 20px;
}

p:first-child{
	font-size:.75em;
	font-style:bold;
}

p:nth-child(3){
	font-style:italic;
}

